.MoviesContainer {
  overflow-y: scroll;
  display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr 1fr;
  background: rgba(14, 6, 48, 0.21);
	grid-auto-columns: 4;
	grid-column-gap: 0px;
	grid-row-gap: 20px;
	grid-auto-rows: auto;
  /* border: solid 2px yellow; */
  place-items: center;

}
