.MoviesContainer {
    overflow-y: scroll;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-auto-columns: auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-auto-rows: auto;

}