.MovieDetailsContainer {
  height: 100%;
  position: relative;
}

.take-me-home {
  background: rgba(255, 255, 255, 0.20);
  border: none;
  border-radius: 35px;
  color: white;
  cursor: pointer;
  font-size: larger;
  margin-bottom: 30px;
  margin-right: 40px;
  margin-top: 30px;
  padding: 10px 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}
