.MoviesContainer {
  background: rgba(14, 6, 48, 0.21);
  display: grid;
  grid-auto-columns: 4;
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr 1fr;
  overflow-y: scroll;
  place-items: center;
}

@media screen and (max-width: 1430px) {
.MoviesContainer {
  background: rgba(14, 6, 48, 0.21);
  display: grid;
  grid-auto-columns: 4;
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr 1fr;
  overflow-y: scroll;
  place-items: center;
  }
}

@media screen and (min-width: 1800px) {
	.MoviesContainer {
    background: rgba(14, 6, 48, 0.21);
    display: grid;
    grid-auto-columns: 4;
    grid-auto-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
  	grid-template-columns: repeat(5, 1fr);
  	grid-template-rows: 1fr 1fr 1fr;
    overflow-y: scroll;
    place-items: center;
	  }
	}
