.Poster {
    height: 500px;
    width: auto;
    border-radius: 15px;
    /* border: solid 2px yellow; */

}

.Poster:hover {
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.3);
  transform: scale(1.01);
  transition: .25s;
}
